header .h-top-line {
  background-color: #000000;
  min-height: 32px;
  padding: 1px;
  font-size: 12px;
  padding-top: 8px;
}
header .h-top-line .geo-nav {
  float: left;
}
header .h-top-line .geo-nav a {
  margin-right: 20px;
}
header .h-top-line .user-nav {
  float: right;
}
header .h-bottom-line {
  background-color: #3a3a43;
  position: relative;
  min-height: 50px;
  padding-top: 10px;
}
header .h-bottom-line ul {
  margin-left: 189px;
}
header ul {
  list-style-type: none;
}
header ul li {
  display: inline-block;
}
header a {
  color: #b9b9c3;
}
header .site-logo {
  width: 200px;
  position: absolute;
  left: 10px;
  top: 10px;
}
header .h-ad-banner {
  position: absolute;
  right: 10px;
  top: 10px;
}
img {
  max-width: 100%;
}
article ul {
  list-style-type: none;
}
article ul li {
  display: inline-block;
}
