#s-main-article {
  overflow: auto;
}
.m-content {
  float: left;
  width: calc(100% - 250px);
  -moz-calc-width: calc(100% - 250px);
  -webkit-calc-width: calc(100% - 250px);
}
.right-side-bar {
  float: right;
  width: 250px;
}
.icon {
  width: 15px;
  height: 15px;
  background-image: url(../img/header-icons.png);
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.icon-edit {
  background-position: -51px 0;
}
.icon-registration {
  background-position: -2px -67px;
}
.icon-login {
  background-position: 0 -33px;
}
.icon-special-offer {
  background-position: 0px 26px;
  width: 18px;
  height: 26px;
  vertical-align: sub;
}
header .h-top-line {
  background-color: #000;
  min-height: 32px;
  padding: 10px;
  font-size: 12px;
}
header .h-top-line a:hover {
  color: #fff;
}
header .h-top-line li.active a {
  color: #fff;
  font-weight: 700;
}
header .h-top-line .geo-nav {
  float: left;
  padding-left: 12px;
}
header .h-top-line .geo-nav a {
  margin-right: 20px;
}
header .h-top-line .user-nav {
  float: right;
}
header .h-top-line .user-nav li {
  margin-left: 25px;
}
header .h-menu-wrapper {
  position: relative;
  max-width: 1226px;
  min-width: 1000px;
  margin: 0 auto;
}
header .h-bottom-line {
  background-color: #3a3a43;
  position: relative;
  min-height: 50px;
  padding-top: 10px;
  min-width: 1000px;
}
header .h-bottom-line .absolut-logo:hover {
  border-bottom: none;
}
header .h-bottom-line .absolut-logo a {
  width: 78px;
  height: 15px;
  background-image: url(../img/absolut-logo.svg);
  display: inline-block;
  background-repeat: no-repeat;
}
header .h-bottom-line .absolut-logo a:hover {
  background-image: url(../img/absolut-logo-blue.svg);
}
header .h-bottom-line .special-offer a {
  color: #ff5f46;
}
header .h-bottom-line a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
header .h-bottom-line ul {
  margin-left: 170px;
}
header .h-bottom-line ul li {
  padding: 0 8px 10px;
}
header .h-bottom-line ul li:hover,
header .h-bottom-line ul li.active {
  border-bottom: 3px solid #ffcc00;
}
header .h-bottom-line ul li:hover a,
header .h-bottom-line ul li.active a {
  color: #ffcc00;
}
header .h-bottom-line ul li.active a {
  font-weight: 700;
}
header ul {
  margin-bottom: 0;
  list-style-type: none;
}
header ul li {
  display: inline-block;
}
header a {
  color: #b9b9c3;
}
header .site-logo {
  width: 200px;
  position: absolute;
  left: 10px;
}
header .h-ad-banner {
  position: absolute;
  right: 10px;
  top: 10px;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}
#main {
  min-width: 1000px;
}
#main .wrapper {
  max-width: 948px;
  margin: 0 auto;
}
#main .more-stock {
  margin-top: 27px;
  margin-bottom: 21px;
  margin-left: 10px;
}
#main .stock-article .stock-date-time {
  margin: 65px auto;
  width: 80px;
}
#main .stock-article .stock-date-time .digit {
  display: inline-block;
  background-color: rgba(51, 51, 51, 0.85);
  font-size: 18px;
  color: #fff;
  margin-left: 1px;
  padding: 1px 5px;
}
#main .stock-article .stock-date-time .digit:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#main .stock-article .stock-date-time .digit:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#main .stock-article .stock-article-title {
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
}
#main .stock-article p {
  font-size: 13px;
  margin-left: 10px;
  color: #777;
}
#main .stock-article .image-wrapper {
  position: relative;
}
#main .stock-article .image-wrapper .orange {
  margin-bottom: 0;
}
#main .stock-article .image-wrapper .image-date {
  position: absolute;
  top: 10px;
  right: 5px;
}
#main .main-content-wrapper {
  max-width: 948px;
  min-width: 740px;
  border: 1px solid #cfcfcf;
  margin: 20px auto 30px;
  padding: 10px 25px;
}
#main .main-content-wrapper .bread-crumbs {
  padding-left: 0;
}
#main .main-content-wrapper .bread-crumbs a {
  color: #0072be;
  text-decoration: none;
  font-size: 12px;
}
#main .main-content-wrapper .row {
  padding-bottom: 30px;
}
#main .main-content-wrapper .main-content-article {
  border-bottom: 1px solid #cfcfcf;
}
#main .main-content-wrapper .main-content-article .time-stock {
  text-align: center;
  width: 100%;
}
#main .main-content-wrapper .main-content-article .time-stock .time {
  font-size: 20px;
  font-weight: 600;
}
#main .main-content-wrapper .main-content-article .time-stock .timer {
  color: #ffcc00;
  font-size: 18px;
  background-color: #3a3a43;
  padding: 5px 20px;
  border-radius: 4px;
  margin-top: 10px;
}
#main .main-content-wrapper .main-content-article .time-stock span {
  display: inline-block;
}
#main .main-content-wrapper .orange {
  margin-bottom: 30px;
}
#main .main-content-wrapper .main-article-img img {
  width: 100%;
}
#main .main-content-wrapper .main-article-description p {
  margin-bottom: 30px;
  padding-top: 15px;
}
#main .main-content-wrapper .main-article-description .more-info {
  margin-bottom: 10px;
}
#main .main-content-wrapper .main-article-description .phone {
  background-color: #62c741;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  margin-left: 10px;
}
#main .h2 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 1.3;
}
.orange {
  background-color: #ff5100;
  padding: 5px 7px 5px 7px;
  color: #fff;
  line-height: 1.2;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
article ul {
  list-style-type: none;
}
article ul li {
  display: inline-block;
}
.right-side-bar {
  background: #ebedeb;
  min-width: 200px;
  min-height: 2000px;
  border-left: 1px solid #cfcfcf;
}
.right-side-bar .container {
  margin-top: 20px;
}
.right-side-bar .content {
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 15px;
  padding: 20px 10px 20px 15px;
}
.other-stock a {
  color: #424242;
}
.other-stock .card {
  height: 380px;
  margin-bottom: 25px;
  overflow-x: hidden;
  border: 1px solid #cfcfcf;
  transition: all 0.2s;
}
.other-stock .card .description {
  padding: 10px 10px 0 15px;
}
.other-stock .card .description p {
  font-size: 18px;
  line-height: 1.2;
}
.other-stock .card:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.23);
}
.other-stock .card img {
  height: 200px;
}
@media (max-width: 1200px) {
  header .h-top-line a {
    font-size: 10px;
  }
  header .h-bottom-line ul {
    margin-left: 120px;
  }
  header .h-bottom-line ul li {
    padding-right: 4px;
    padding-left: 4px;
  }
  header .h-bottom-line .site-logo {
    width: 150px;
  }
  header .h-bottom-line a {
    font-size: 12px;
  }
  header .h-bottom-line .h-ad-banner {
    width: 200px;
  }
}
