@import "variables.less";
@import "mixins.less";

header {

	.h-top-line {
	    background-color: #000000;
	    min-height: 32px;
	    padding: 1px;
	    font-size: 12px;
	    padding-top: 8px;

		.geo-nav {
			float: left;

			a {
				margin-right: 20px;
			}
		}

		.user-nav {
			float: right;
		}
	}

	.h-bottom-line {
		background-color: #3a3a43;
		position: relative;
		min-height: 50px;
		padding-top: 10px;

		ul {
			margin-left: 189px;
		}
		
	}

	ul {
			list-style-type: none;
		li {
			display: inline-block;
		}
	}

	a {
		color: #b9b9c3;
	}

	.site-logo {
		width: 200px;
		position: absolute;
		left: 10px;
		top: 10px;
	}

	.h-ad-banner {
		position: absolute;
		right: 10px;
		top: 10px;
	}

}

img {
	max-width: 100%;
}


article {
	ul {
		list-style-type: none;

		li {
			display: inline-block;
		}
	}
}